#container {
    margin: 0px auto;

    width: 975px;
}

article {
    display: flex;
    margin-top: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: white;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

.side-bar-item {
    padding: 16px 16px 16px 30px;

    width: 235.97px;
    height: 51.98px;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}

.clicked {
    border-left: 1px solid black;
}

.profile-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
}
